/* Start Work */
.header1{
	background-color: #AEDBEB;
	text-align: center;
}

/**************** Blog List Div *****************/
#bloglist_div, #login_container { 
    height: 800px;
    margin-right:10px;   
    margin-left:10px; 
    float:left;    
}

#bloglist_div {
	width:65%;
	text-align:left;
}

#bloglist_div ul{ 
	list-style: none ;
}

#bloglist_div .title {
		font: italic bold 15px/30px Georgia, serif;
}

#list_items{
	padding-left:50px;
}

.hr_line{
	border-top: 1px solid #D8D8D8;
}
/****************Login Container *****/

#login_container { 
	width:30%;
	text-align:left;	
}

#login_container ul{ 
	list-style: none ;
}

#login_container ul li{ 
	list-style: none ;
	height:25px;
}

#login_div{	
	
	height:250px;
	margin-top:0 auto;		
}

.login{
	margin: 0 auto;
    width: 250px;
	background-color:#D0D0D0 ;
}