.header1{
	background-color: #566690;
	text-align: center;
	height:80px;
	color: white;
	padding-top: 20px;
}

/**************** Blog List Div *****************/
#bloglist_div, #login_container { 
    height: 800px;
    margin-right:10px;   
    margin-left:10px; 
    float:left;    
}

#bloglist_div {
	width:65%;
	text-align:left;
}

#bloglist_div ul{ 
	list-style: none ;
}

#bloglist_div .title {
		font: italic bold 15px/30px Georgia, serif;
}

#list_items{
	padding-left:50px;
}

.hr_line{
	border-top: 1px solid #D8D8D8;
}

.blogInfo{
	color:#686868;
}

.modify, .buttons{
	text-align:right;
}

.buttons{
	clear:both;
}

.saveButton, #saveButtonBottom{
	display:none;
}

.new ul li{
	height:30px;
}

.leftDiv{
	width:110px;
	float:left;
	font-size:20px;
	color:#566690;
	font-style: italic;
}

.rightDiv{
	float:left;
}
.newForm{
	display:none;
	margin:80px 0px 0px 30px;
}
/****************Login Container *****/

#login_container { 
	width:30%;
	text-align:left;	
}

#login_container ul{ 
	list-style: none ;
}

#login_container ul li{ 
	list-style: none ;
	height:25px;
}

#login_div{	
	
	height:250px;
	margin-top:0 auto;	
}

.login{
	margin: 0 auto;
    width: 250px;
	background-color:#D0D0D0 ;
}